.card {
  position: absolute;
  left:auto;
  top:auto;
  display: inline-block;
  width: 10vw;
  height: 14.2vw;
  background-color: #fff;
  border-radius: .5vw;
  box-shadow: 0 1vw 2vw 0vw rgba(0,0,0,0.45);
  cursor: default;
  will-change: transform;
  background-position: 50% 50%;
  background-size: 95% 95%;
  background-repeat: no-repeat;
}
.card:before,
.card:after {
  position: absolute;
  font-size: 1.95vw;
  text-align: center;
  line-height: 1.95vw;
  font-family: 'Ubuntu Condensed', sans-serif;
  white-space: pre-line;
  width: 1.5vw;
  letter-spacing: -0.5vw;
}
.card:before {
  top: 0.39vw;
  left: 0;
}
.card:after {
  bottom: 0.258vw;
  right: 0;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.card.spades,
.card.clubs,
.card.joker {
  color: #000;
}
.card.hearts,
.card.diamonds,
.card.joker.rank3 {
  color: #d40000;
}
.card.joker.rank1:before,
.card.joker.rank2:before,
.card.joker.rank3:before,
.card.joker.rank1:after,
.card.joker.rank2:after,
.card.joker.rank3:after {
  content: "J\a O\a K\a E\a R";
  letter-spacing: 0;
  font-size: 0.4rem;
  line-height: 0.4rem;
  padding: 0.15rem 0.05rem;
  width: 0.5rem;
}
.card.rank14:before,
.card.rank14:after {
  content: "A";
}
.card.rank2:before,
.card.rank2:after {
  content: "2";
}
.card.rank3:before,
.card.rank3:after {
  content: "3";
}
.card.rank4:before,
.card.rank4:after {
  content: "4";
}
.card.rank5:before,
.card.rank5:after {
  content: "5";
}
.card.rank6:before,
.card.rank6:after {
  content: "6";
}
.card.rank7:before,
.card.rank7:after {
  content: "7";
}
.card.rank8:before,
.card.rank8:after {
  content: "8";
}
.card.rank9:before,
.card.rank9:after {
  content: "9";
}
.card.rank10:before,
.card.rank10:after {
  content: "10";
}
.card.rank11:before,
.card.rank11:after {
  content: "J";
}
.card.rank12:before,
.card.rank12:after {
  content: "Q";
}
.card.rank13:before,
.card.rank13:after {
  content: "K";
}
.card.spades.rank14 {
  background-image: url("faces/0_1.svg");
}
.card.spades.rank2 {
  background-image: url("faces/0_2.svg");
}
.card.spades.rank3 {
  background-image: url("faces/0_3.svg");
}
.card.spades.rank4 {
  background-image: url("faces/0_4.svg");
}
.card.spades.rank5 {
  background-image: url("faces/0_5.svg");
}
.card.spades.rank6 {
  background-image: url("faces/0_6.svg");
}
.card.spades.rank7 {
  background-image: url("faces/0_7.svg");
}
.card.spades.rank8 {
  background-image: url("faces/0_8.svg");
}
.card.spades.rank9 {
  background-image: url("faces/0_9.svg");
}
.card.spades.rank10 {
  background-image: url("faces/0_10.svg");
}
.card.spades.rank11 {
  background-image: url("faces/0_11.svg");
}
.card.spades.rank12 {
  background-image: url("faces/0_12.svg");
}
.card.spades.rank13 {
  background-image: url("faces/0_13.svg");
}
.card.hearts.rank14 {
  background-image: url("faces/1_1.svg");
}
.card.hearts.rank2 {
  background-image: url("faces/1_2.svg");
}
.card.hearts.rank3 {
  background-image: url("faces/1_3.svg");
}
.card.hearts.rank4 {
  background-image: url("faces/1_4.svg");
}
.card.hearts.rank5 {
  background-image: url("faces/1_5.svg");
}
.card.hearts.rank6 {
  background-image: url("faces/1_6.svg");
}
.card.hearts.rank7 {
  background-image: url("faces/1_7.svg");
}
.card.hearts.rank8 {
  background-image: url("faces/1_8.svg");
}
.card.hearts.rank9 {
  background-image: url("faces/1_9.svg");
}
.card.hearts.rank10 {
  background-image: url("faces/1_10.svg");
}
.card.hearts.rank11 {
  background-image: url("faces/1_11.svg");
}
.card.hearts.rank12 {
  background-image: url("faces/1_12.svg");
}
.card.hearts.rank13 {
  background-image: url("faces/1_13.svg");
}
.card.clubs.rank14 {
  background-image: url("faces/2_1.svg");
}
.card.clubs.rank2 {
  background-image: url("faces/2_2.svg");
}
.card.clubs.rank3 {
  background-image: url("faces/2_3.svg");
}
.card.clubs.rank4 {
  background-image: url("faces/2_4.svg");
}
.card.clubs.rank5 {
  background-image: url("faces/2_5.svg");
}
.card.clubs.rank6 {
  background-image: url("faces/2_6.svg");
}
.card.clubs.rank7 {
  background-image: url("faces/2_7.svg");
}
.card.clubs.rank8 {
  background-image: url("faces/2_8.svg");
}
.card.clubs.rank9 {
  background-image: url("faces/2_9.svg");
}
.card.clubs.rank10 {
  background-image: url("faces/2_10.svg");
}
.card.clubs.rank11 {
  background-image: url("faces/2_11.svg");
}
.card.clubs.rank12 {
  background-image: url("faces/2_12.svg");
}
.card.clubs.rank13 {
  background-image: url("faces/2_13.svg");
}
.card.diamonds.rank14 {
  background-image: url("faces/3_1.svg");
}
.card.diamonds.rank2 {
  background-image: url("faces/3_2.svg");
}
.card.diamonds.rank3 {
  background-image: url("faces/3_3.svg");
}
.card.diamonds.rank4 {
  background-image: url("faces/3_4.svg");
}
.card.diamonds.rank5 {
  background-image: url("faces/3_5.svg");
}
.card.diamonds.rank6 {
  background-image: url("faces/3_6.svg");
}
.card.diamonds.rank7 {
  background-image: url("faces/3_7.svg");
}
.card.diamonds.rank8 {
  background-image: url("faces/3_8.svg");
}
.card.diamonds.rank9 {
  background-image: url("faces/3_9.svg");
}
.card.diamonds.rank10 {
  background-image: url("faces/3_10.svg");
}
.card.diamonds.rank11 {
  background-image: url("faces/3_11.svg");
}
.card.diamonds.rank12 {
  background-image: url("faces/3_12.svg");
}
.card.diamonds.rank13 {
  background-image: url("faces/3_13.svg");
}
.card.joker.rank1 {
  background-image: url("faces/4_1.svg");
}
.card.joker.rank2 {
  background-image: url("faces/4_2.svg");
}
.card.joker.rank3 {
  background-image: url("faces/4_3.svg");
}
@media (max-width: 540px) {
  #topbar {
    text-align: left;
  }
  .gh-ribbon {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
}
@media (min-width: 640px) {
  html {
    font-size: 125%;
  }
}
